* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 30px;
  color: aliceblue;
  font-weight: 600;
  text-shadow: 2px 2px 2px black;
}

header {
  text-align: center;
  padding: 4px 10%;
  margin-bottom: 50px;
  background-color: #40596E;
}

.app {
  background: url(../src/images/mountain.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.taskCard {
  width: 250px;
  padding: 10px 25px;
  margin: 10px 1%;
  background-color: #EBECF0;
  border-radius: 5px;
}

.taskCardTitleInputArea {
  margin-bottom: 10px;
  width: 70%;
  cursor: pointer;
}

.taskCardTitleInput {
  width: 140px;
  font-size: 1.1rem;
  padding: 4px 6px;
  border-radius: 3px;
  border: none;
  outline: none;
}

.taskAddInput {
  width: 100%;
  font-size: 1.3rem;
  padding: 10px 15px;
  border-radius: 3px;
  border: none;
  outline: none;
}

.taskBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 0;
  margin-top: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px rgb(75,75,75);
}

.taskText {
  margin-left: 12px;
}

.taskTrashButton {
  cursor: pointer;
  padding: 9px;
  border: none;
  background-color: white;
}

.taskCardsArea {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.addTaskCardButtonArea {
  margin-left: 1%;
  margin-top: 25px;
}

.addTaskCardButton {
  padding: 10px 18px;
  border-radius: 9999px;
  font-size: 30px;
  background-color: rgb(221, 194, 162);
  box-shadow: 3px 3px 3px 1px #333;
  cursor: pointer;
  transition: all 0.3s;
}

.addTaskCardButton:hover {
  box-shadow: none;
  transform: translate(3px, 3px);
}

.taskCardTitleAndTaskCardDeleteButtonArea {
  display: flex;
  justify-content: space-between;
}

.taskCardDeleteButton {
  border: none;
  background-color: #EBECF0;
  cursor: pointer;
  font-size: 16px;
  color: rgb(158, 46, 46);
  padding: 2px;
}